/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */
    @media print{
        /* Cosas del background */
        body{
            background:#fff;
            color: #bbb;
        }

        body::before{
            background:none;
        }

        .final-result, .info{
            background:none;
            color:#222;
            width:100%;
            padding: 0;
            margin:0;
            border:none;
            box-shadow: none;
            margin: 10px auto;
        }

        section, section:first-child::before {
            border-top: 0px;
            border-bottom: 0px;
        }

        h1, h1 small{
            color:#222;
            line-height: 1.4rem;
            transform: rotate(0deg);
            text-shadow: none;
            text-align: center;
            margin: 0 0 10px;
            width: 100%
        }



        .final-result h3, .info h3{
            color:black;
            margin: 0;
        }
        .info p, .final-result h3{
            color:#222;
            margin:0;
        }

        .logo,
        .made-by,
        .copyright,
        .course,
        .final-result h2,
        .info h2,
        .final-result::before,
        .final-result::after,
        .info::after,
        .info::before{
            display:none;
    }

a::after{
    content: " [" attr(href) "]";
}

footer a:link,
footer a:visited{
    color: #000;
    background:none;
}

h1{
    font-size: 30px;
h1 small{
    font-size: 20px;
}

    }