.mario-block{
    display:inline-block;
    position:relative;
    width:16em;
    margin:80px auto;
    height:22em;
  }
  
  #wahoo{
    outline:none;
  }
  
  #wahoo:active + .mario-block{
    transition: all 0.3 ease;
    animation: wahooMario 0.8s ease-in-out 1;
  }
  
  @keyframes wahooMario{
    0%   {left:0; bottom:0; transform:rotate(0);}
    30%  {left:200px; bottom:200px; transform:rotate(-25deg);}
    80%  {left:400px; bottom:0; transform:rotate(0);}
    100% {left:0; bottom:0;}
  }
  
  .mario{
    --azul-1:#4497E8;
    --azul-2:#318CE6;
    --azul-3:#1259A1;
    --azul-4:#134A84;
    --naranja-1:#F49665;
    --naranja-2:#F28956;
    --rojo:#BA060D;
    
    display:block;
    width:1em;
    height:1em;
    
    background-color: transparent;
    box-shadow: 0em 0em transparent,
                1em 0em transparent,
                2em 0em transparent,
                3em 0em transparent,
                4em 0em transparent,
                5em 0em black,
                6em 0em black,
                7em 0em black,
                8em 0em black,
                9em 0em black,
                10em 0em black,
                11em 0em transparent,
                12em 0em transparent,
                13em 0em transparent,
                14em 0em transparent,
                15em 0em transparent,
      
                0em  1em transparent,
                1em  1em transparent,
                2em  1em transparent,
                3em  1em transparent,
                4em  1em black,
                5em  1em black,
                6em  1em var(--azul-2),
                7em  1em var(--azul-2),
                8em  1em var(--azul-2),
                9em  1em var(--azul-2),
                10em 1em black,
                11em 1em black,
                12em 1em transparent,
                13em 1em transparent,
                14em 1em transparent,
                15em 1em transparent,
      
                0em  2em transparent,
                1em  2em transparent,
                2em  2em transparent,
                3em  2em black,
                4em  2em var(--azul-4),
                5em  2em var(--azul-4),
                6em  2em var(--azul-2),
                7em  2em var(--azul-1),
                8em  2em var(--azul-1),
                9em  2em var(--azul-4),
                10em 2em var(--azul-4),
                11em 2em var(--azul-4),
                12em 2em black,
                13em 2em transparent,
                14em 2em transparent,
                15em 2em transparent,
    
                0em  3em transparent,
                1em  3em transparent,
                2em  3em black,
                3em  3em var(--azul-4),
                4em  3em var(--azul-4),
                5em  3em var(--azul-3),
                6em  3em var(--azul-3),
                7em  3em var(--azul-3),
                8em  3em var(--azul-3),
                9em  3em var(--azul-3),
                10em 3em var(--azul-3),
                11em 3em var(--azul-4),
                12em 3em var(--azul-4),
                13em 3em black,
                14em 3em transparent,
                15em 3em transparent,
      
                0em  4em transparent,
                1em  4em transparent,
                2em  4em black,
                3em  4em var(--azul-4),
                4em  4em var(--azul-3),
                5em  4em var(--azul-3),
                6em  4em var(--azul-2),
                7em  4em var(--azul-1),
                8em  4em var(--azul-1),
                9em  4em var(--azul-3),
                10em 4em var(--azul-3),
                11em 4em var(--azul-3),
                12em 4em var(--azul-3),
                13em 4em black,
                14em 4em transparent,
                15em 4em transparent,
    
                0em  5em transparent,
                1em  5em black,
                2em  5em var(--azul-4),
                3em  5em var(--azul-3),
                4em  5em var(--azul-3),
                5em  5em var(--azul-3),
                6em  5em var(--azul-2),
                7em  5em var(--azul-1),
                8em  5em var(--azul-1),
                9em  5em var(--azul-3),
                10em 5em var(--azul-3),
                11em 5em var(--azul-3),
                12em 5em var(--azul-3),
                13em 5em var(--azul-3),
                14em 5em black,
                15em 5em transparent,
    
                0em  6em transparent,
                1em  6em black,
                2em  6em var(--azul-4),
                3em  6em var(--azul-3),
                4em  6em var(--azul-4),
                5em  6em var(--azul-4),
                6em  6em var(--azul-4),
                7em  6em var(--azul-3),
                8em  6em var(--azul-3),
                9em  6em var(--azul-4),
                10em 6em var(--azul-4),
                11em 6em var(--azul-3),
                12em 6em var(--azul-3),
                13em 6em var(--azul-3),
                14em 6em black,
                15em 6em transparent,
    
                0em  7em black,
                1em  7em var(--azul-1),
                2em  7em var(--azul-4),
                3em  7em var(--azul-4),
                4em  7em var(--naranja-2),
                5em  7em var(--naranja-1),
                6em  7em var(--azul-4),
                7em  7em var(--azul-3),
                8em  7em var(--azul-4),
                9em  7em var(--naranja-1),
                10em 7em var(--naranja-1),
                11em 7em var(--azul-4),
                12em 7em var(--azul-3),
                13em 7em var(--azul-1),
                14em 7em var(--azul-2),
                15em 7em black,
      
                0em  8em black,
                1em  8em var(--azul-2),
                2em  8em var(--azul-4),
                3em  8em var(--naranja-2),
                4em  8em var(--naranja-1),
                5em  8em var(--naranja-1),
                6em  8em var(--naranja-1),
                7em  8em var(--azul-4),
                8em  8em var(--naranja-1),
                9em  8em var(--naranja-1),
                10em 8em var(--naranja-1),
                11em 8em var(--naranja-1),
                12em 8em var(--azul-3),
                13em 8em var(--azul-2),
                14em 8em var(--rojo),
                15em 8em black,
      
                0em  9em black,
                1em  9em var(--azul-2),
                2em  9em var(--azul-4),
                3em  9em var(--naranja-2),
                4em  9em black,
                5em  9em var(--naranja-1),
                6em  9em var(--naranja-1),
                7em  9em var(--naranja-1),
                8em  9em var(--naranja-1),
                9em  9em var(--naranja-1),
                10em 9em black,
                11em 9em var(--naranja-1),
                12em 9em var(--azul-3),
                13em 9em var(--azul-2),
                14em 9em var(--rojo),
                15em 9em black,
  
                0em  10em black,
                1em  10em var(--azul-2),
                2em  10em var(--azul-4),
                3em  10em var(--naranja-2),
                4em  10em var(--naranja-1),
                5em  10em var(--naranja-1),
                6em  10em var(--naranja-1),
                7em  10em var(--naranja-1),
                8em  10em var(--naranja-1),
                9em  10em var(--naranja-1),
                10em 10em var(--naranja-1),
                11em 10em var(--naranja-1),
                12em 10em var(--azul-3),
                13em 10em var(--azul-2),
                14em 10em var(--azul-2),
                15em 10em black,
    
                0em  11em transparent,
                1em  11em black,
                2em  11em black,
                3em  11em var(--naranja-2),
                4em  11em var(--naranja-2),
                5em  11em var(--naranja-1),
                6em  11em black,
                7em  11em black,
                8em  11em black,
                9em  11em var(--naranja-1),
                10em 11em var(--naranja-1),
                11em 11em var(--naranja-1),
                12em 11em var(--azul-3),
                13em 11em black,
                14em 11em black,
                15em 11em transparent,
      
                0em  12em transparent,
                1em  12em transparent,
                2em  12em black,
                3em  12em black,
                4em  12em var(--naranja-2),
                5em  12em var(--naranja-2),
                6em  12em var(--naranja-2),
                7em  12em var(--naranja-2),
                8em  12em var(--naranja-2),
                9em  12em var(--naranja-1),
                10em 12em var(--naranja-1),
                11em 12em var(--azul-3),
                12em 12em black,
                13em 12em black,
                14em 12em transparent,
                15em 12em transparent,
      
                0em  13em transparent,
                1em  13em transparent,
                2em  13em transparent,
                3em  13em transparent,
                4em  13em black,
                5em  13em black,
                6em  13em black,
                7em  13em black,
                8em  13em black,
                9em  13em black,
                10em 13em black,
                11em 13em black,
                12em 13em transparent,
                13em 13em transparent,
                14em 13em transparent,
                15em 13em transparent,
  
                0em  14em transparent,
                1em  14em transparent,
                2em  14em transparent,
                3em  14em black,
                4em  14em var(--azul-2),
                5em  14em var(--azul-2),
                6em  14em var(--azul-3),
                7em  14em var(--azul-2),
                8em  14em var(--azul-2),
                9em  14em var(--azul-1),
                10em 14em var(--azul-1),
                11em 14em var(--azul-1),
                12em 14em black,
                13em 14em transparent,
                14em 14em transparent,
                15em 14em transparent,
  
                0em  15em transparent,
                1em  15em transparent,
                2em  15em black,
                3em  15em var(--azul-2),
                4em  15em black,
                5em  15em var(--azul-2),
                6em  15em var(--azul-1),
                7em  15em var(--azul-1),
                8em  15em var(--azul-1),
                9em  15em var(--azul-1),
                10em 15em var(--azul-1),
                11em 15em black,
                12em 15em var(--azul-2),
                13em 15em black,
                14em 15em transparent,
                15em 15em transparent,
  
                0em  16em transparent,
                1em  16em black,
                2em  16em var(--azul-4),
                3em  16em var(--azul-3),
                4em  16em black,
                5em  16em var(--azul-2),
                6em  16em var(--azul-1),
                7em  16em var(--azul-1),
                8em  16em var(--azul-1),
                9em  16em var(--azul-1),
                10em 16em var(--azul-1),
                11em 16em black,
                12em 16em var(--azul-3),
                13em 16em black,
                14em 16em transparent,
                15em 16em transparent,
  
                0em  17em transparent,
                1em  17em black,
                2em  17em var(--azul-4),
                3em  17em var(--azul-3),
                4em  17em black,
                5em  17em var(--azul-4),
                6em  17em var(--azul-3),
                7em  17em var(--azul-3),
                8em  17em var(--azul-3),
                9em  17em var(--azul-3),
                10em 17em var(--azul-3),
                11em 17em black,
                12em 17em var(--azul-4),
                13em 17em black,
                14em 17em transparent,
                15em 17em transparent,
      
                0em  18em transparent,
                1em  18em black,
                2em  18em var(--azul-4),
                3em  18em var(--azul-4),
                4em  18em black,
                5em  18em var(--azul-4),
                6em  18em var(--azul-4),
                7em  18em var(--azul-3),
                8em  18em var(--azul-3),
                9em  18em var(--azul-3),
                10em 18em var(--azul-3),
                11em 18em black,
                12em 18em black,
                13em 18em transparent,
                14em 18em transparent,
                15em 18em transparent,
      
                0em  19em transparent,
                1em  19em transparent,
                2em  19em black,
                3em  19em black,
                4em  19em black,
                5em  19em var(--azul-2),
                6em  19em var(--azul-4),
                7em  19em var(--azul-4),
                8em  19em var(--azul-4),
                9em  19em var(--azul-2),
                10em 19em var(--azul-1),
                11em 19em black,
                12em 19em transparent,
                13em 19em transparent,
                14em 19em transparent,
                15em 19em transparent,
      
                0em  20em transparent,
                1em  20em transparent,
                2em  20em transparent,
                3em  20em transparent,
                4em  20em black,
                5em  20em var(--azul-3),
                6em  20em black,
                7em  20em black,
                8em  20em black,
                9em  20em var(--azul-4),
                10em 20em var(--azul-3),
                11em 20em black,
                12em 20em transparent,
                13em 20em transparent,
                14em 20em transparent,
                15em 20em transparent,
  
                0em  21em transparent,
                1em  21em transparent,
                2em  21em transparent,
                3em  21em transparent,
                4em  21em black,
                5em  21em black,
                6em  21em black,
                7em  21em transparent,
                8em  21em black,
                9em  21em black,
                10em 21em black,
                11em 21em black,
                12em 21em transparent,
                13em 21em transparent,
                14em 21em transparent,
                15em 21em transparent;
  }