.clip-image-1{
          clip-path:circle(50% at 50% 50%);
  -webkit-clip-path:circle(50% at 50% 50%);
}

.clip-image-2{
          clip-path:polygon(52% 0, 5% 100%, 100% 100%);
  -webkit-clip-path:polygon(52% 0, 5% 100%, 100% 100%);
}
.clip-image-3{
  -webkit-clip-path: polygon(50% 0%, 65% 29%, 98% 35%, 77% 59%, 79% 91%, 49% 77%, 21% 91%, 23% 58%, 2% 35%, 34% 28%);
          clip-path: polygon(50% 0%, 65% 29%, 98% 35%, 77% 59%, 79% 91%, 49% 77%, 21% 91%, 23% 58%, 2% 35%, 34% 28%);
}
.clip-image-4{
-webkit-clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
        clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}
